.vscode/**
node_modules
package-lock.json
.idea

# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
.vercel
.pnp.cjs
.pnp.loader.mjs

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
packages/nextjs/.next/
packages/nextjs/out/
packages/nextjs/.turbo/
node_modules/
coverage/
dist/
build/
.vercel/output/

# logs and debug
yarn-error.log
npm-debug.log*

.yarnrc.yml

.next/