# Editor directories and files
.vscode/
.idea/

# Node dependencies
node_modules/
package-lock.json

# Yarn Berry
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.eslintcache

# OS files
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
.next/
out/
.turbo/
dist/
build/
coverage/
.vercel/
.vercel/output/

# StarkNet Foundry
target/
.snfoundry_cache/

# Logs and debug
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

